* {
  text-align: center;
}
body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* container setup */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;
  flex-wrap: wrap;
}

/* card style */
.card {
  background-color: #fff;
  padding: 2rem;
  width: 20rem;
  height: 25rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* hover effect */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* image inside card */
.card img {
  width: 400px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

h1 {
  color: #757575;
}
.btn {
  border: none;
  padding: 12px 30px;
  margin-bottom: 20px;
  background-color: #03a9f4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover {
  background-color: #0288d1;
}
.gameContainer {
  width: 400px;
  height: 500px;
  border: 1px solid #fbc02d;
  margin: 50px auto;
  background: #fffde7;
  position: relative;
  overflow: hidden;
}
.basket {
  position: absolute;
  bottom: 5px;
}
.basket img {
  width: 90px;
  height: 60px;
}
.egg {
  position: absolute;
  top: 0;
}
.egg img {
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.break-egg {
  position: absolute;
  display: none;
}
.break-egg img {
  width: 60px;
}
/* end falling egg */

/* start shooting bird */
.birdBtn {
  border: none;
  padding: 12px 30px;
  background-color: #009688;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.birdBtn:hover {
  background-color: #00796b;
}

.bird-container {
  width: 700px;
  height: 600px;
  border: 1px solid #fbc02d;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
}
.bird-container img {
  width: 100%;
  height: 100%;
}

.bird-container .bird-img {
  position: absolute;
}
.bird-container .bird-img img {
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 1;
  visibility: visible;
  z-index: 9;
  display: block;
}
/* end shooting bird */
